.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Books-list{
  list-style-type: none;
}

#Input-field{
  margin-left: 30px;
  margin-top: 20px;
}

.Invisible{
  display: none;
}

#menu{
  max-width: 560px;
  margin: 100px auto 100px;
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
}

ul{
    list-style-type: none;
}

nav{
  margin:15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button{
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  margin-left: 5px;
}

input{
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
}

span{
  margin: 5px;
  font-size: 16px;
}

.listContainer li{
  border: 1px solid grey;
  width: 900px;
  border-radius: 4px;
  margin: 4px 0 0 0;
}