body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.booksMenu{
  border: 1px solid black;
}
.bookSection{
  border: 1px solid red;
}
.books-list{
  list-style-type: none;
}
.invisible{
    display: none;
}

.boxclose{
float: right;
    margin-top: -60px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    line-height: 0px;
    font-size: 14px;
    padding: 11px 3px;
}
